body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ol, 
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.foot-logo-pag {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    font-size: 16px;
    max-width: 264px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.hero-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-section {
    background-color: #2e2f42;
    padding: 188px 0;
}

.hero-title {
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    font-size: 56px;
    margin-bottom: 48px;
    max-width: 496px;
}

.hero-btn {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    font-size: 16px;
    background-color: #4d5ae5;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
}
  
.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;

}

.solutions-sect {
    padding: 120px 0;
}

.solutions-list {
    display: flex;
    gap: 24px;
    margin-right: 0;
}

.solutions-item {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    width: 264px;
    height: 104px;
    flex-basis: calc( ( 100% - 72px ) / 4 );
}

.sect-team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.team-item {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0;
    background-color: #fff;
    width: 264px;
    height: 380px;
}

.name-team-item {
    padding: 32px 0;
}

.team-subtitle {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 20px;
    margin-bottom: 8px;
}

.sect-portfolio {
    padding: 120px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item-sd {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.sect-title {
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.sect-subtitle {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 20px;
    margin-bottom: 8px;
}

.sect-desc {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}

.cent-r {
    text-align: center;
}
